@using X.PagedList.Mvc.Core.Common
@using X.PagedList.Mvc.Core
@model Northwind.Application.Suppliers.Queries.Index.Model

@{
  ViewData["Title"] = "Customers";
}

<p>
  <a asp-action="Create">New</a>
</p>
<table class="table">
  <thead>
  <tr>
    <th>
      Id
    </th>
    <th>
      Name
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  
  @foreach (var item in Model.Items)
  {
    <tr>
      <td>
        @item.Id
      </td>
      <td>
        @item.CompanyName
      </td>
      <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Details</a> |
        <button class="pseudo" form="delete-@item.Id">Delete</button>
        
        <form id="delete-@item.Id" method="post" asp-action="Delete">
          <input type="hidden" name="Id" value="@item.Id">
        </form>
        
      </td>
    </tr>
  }
  </tbody>
</table>
@Html.PagedListPager(Model.Items, page => Url.Action("Index", new { page }), 
  new PagedListRenderOptions
  {
    LinkToFirstPageFormat = "<< First", 
    LinkToPreviousPageFormat = "< Previous", 
    LinkToNextPageFormat = "Next >", 
    LinkToLastPageFormat = "Last >>",
    MaximumPageNumbersToDisplay = 10,
  })
